@font-face {
    font-family: "MarkGEO-Regular";
    src: url("../fonts/MarkGEO-Regular.woff2");
}

@font-face {
    font-family: "MarkGEO-Bold";
    src: url("../fonts/MarkGEO-Bold.woff2");
}

@font-face {
    font-family: "Firago-Bold";
    src: url("../fonts/FiraGO-SemiBoldf.woff");
}