/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.title, .vue-dropzone, .loginn .login-title, .title-compo h1, .collapse-title, .card-top-buttons a.active, .pageTitle-title h1, .page-title, .header-top__logo a, .menu h3, a:hover {
  font-family: "MarkGEO-Bold";
}

.login-section-wrapper, body {
  font-family: "MarkGEO-Regular";
}

.loginn img, .header-top__actions .user-img figure img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.welcome figure, .login-section-wrapper, .alert-for-component, .compo-item a.btn-danger, .compo-item a.btn-primary, .compo-item figure, .select-from-library-button .btn-link,
.selected-library-item .btn-link, .page-content__item .item-init button, .page-content__item .item-init a, .page-content__item .item-init, .page-title > div, .header-top__logo, .footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.media-thumb-container, .welcome figure, .welcome, .loginn, .title-compo, .title-of, .card-top-buttons, .forus, .alert-for-component, .compo-item, .compo, .select-from-library-button,
.selected-library-item, .form-group label, .form-group, .addPage,
.card, .choose-lang, .pageTitle-down, .pageTitle, .page-content__item, .page-title, .page, .header-top, .header, .menu ul li, .menu ul, .footer {
  width: 100%;
  float: left;
}

.loginn .btn-primary {
  padding: 13px 30px;
  font-family: "MarkGEO-Regular";
  font-size: 13px;
}

h1 {
  font-size: 21px;
}

h2 {
  font-size: 18px;
}

h3 {
  font-size: 16px;
}

h4 {
  font-size: 14px;
}

:root {
  --c1: #d02333;
  --c2: #fff;
  --c3: #d02333;
  --c4: #242424;
  --c5: #fff;
  --white: #fff;
  --body: #f2f2f2;
  --text: #242424;
  --border: #dedede;
  --stroke: #242424;
  --main: #fff;
}

[data-theme=dark] {
  --c1: #38cab3;
  --c2: #2a2e3f;
  --c3: #5cd3b9;
  --c4: #c5cfcd;
  --c5: #2d2d2d;
  --white: #fff;
  --body: #383d52;
  --text: #dedede;
  --border: #484863;
  --stroke: #bfc8de;
  --main: #2a2e3f;
}

.container {
  max-width: 100%;
  padding: 0;
}

body {
  background: var(--body);
  overflow-x: hidden;
}
body::-webkit-scrollbar {
  width: 5px;
}
body::-webkit-scrollbar-track {
  background: var(--c2);
}
body::-webkit-scrollbar-thumb {
  background: var(--c1);
  border-radius: 5px;
}

main {
  width: calc(100% - 250px);
  float: right;
  padding: 0 30px;
  padding-bottom: 50px;
  padding-top: 80px;
}

a {
  color: var(--c1);
}
a:hover {
  color: var(--c3);
  text-decoration: none;
}

.footer {
  color: var(--white);
  font-size: 14px;
  margin-top: 100px;
}

.menu {
  width: 250px;
  float: left;
  background: var(--c2);
  border-right: 1px solid var(--border);
  height: calc(100vh - 80px);
  padding: 30px;
  overflow-y: scroll;
  position: fixed;
  top: 80px;
}
.menu::-webkit-scrollbar {
  width: 5px;
}
.menu::-webkit-scrollbar-track {
  background: var(--c2);
}
.menu::-webkit-scrollbar-thumb {
  background: var(--c1);
  border-radius: 5px;
}
.menu h3 {
  color: var(--c4);
  font-size: 14px;
}
.menu ul {
  margin-top: 30px;
}
.menu ul li {
  margin-bottom: 20px;
}
.menu ul li:last-child {
  margin-bottom: 0;
}
.menu ul li a {
  display: flex;
  align-items: center;
  color: var(--text);
  transition: 0.3s all ease-in;
}
.menu ul li a svg {
  width: 21px;
  height: 21px;
  margin-right: 10px;
}
.menu ul li a svg path {
  stroke: var(--stroke);
  transition: 0.3s all ease-in;
}
.menu ul li a:hover {
  color: var(--c1);
}
.menu ul li a:hover svg path {
  stroke: var(--c1);
}

.header {
  background: var(--c2);
  border-bottom: 1px solid var(--border);
  height: 80px;
  position: fixed;
  top: 0;
  z-index: 900;
}
.header-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header-top__logo {
  width: 250px;
  border-right: 1px solid var(--border);
  height: 80px;
}
.header-top__logo a {
  color: var(--c1);
  display: flex;
  align-items: center;
  font-size: 24px;
  text-transform: uppercase;
}
.header-top__logo a span {
  width: 5px;
  height: 5px;
  background: var(--c1);
  float: right;
  margin-left: 10px;
  border-radius: 2px;
}
.header-top__actions {
  padding-right: 45px;
}
.header-top__actions .user {
  display: flex;
  align-items: center;
}
.header-top__actions .user-img {
  margin-right: 20px;
}
.header-top__actions .user-img figure {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid var(--c1);
  padding: 2px;
}
.header-top__actions .user-img figure img {
  border-radius: 50%;
}
.header-top__actions .user-title {
  display: flex;
  flex-direction: column;
}
.header-top__actions .user-title h3 {
  font-size: 14px;
  color: var(--c4);
  margin-bottom: 5px;
  float: left;
}
.header-top__actions .user-title a {
  color: var(--c1);
  font-size: 12px;
}

.btn {
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.4) !important;
  display: inline-block;
  font-weight: 400;
  color: #4a4a69;
  text-align: center;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.5rem 0.78rem;
  font-size: 0.875rem;
  line-height: 1.5;
  border-radius: 5px;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.card {
  background: none;
  box-shadow: none;
  outline: none;
  border: none;
  padding: 0;
  color: var(--c4);
}

.page-title {
  background-color: var(--main) !important;
  box-shadow: 0 0 10px rgba(28, 39, 60, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  color: var(--c4);
  border-radius: 10px;
  font-size: 14px;
  margin-bottom: 10px;
}
.page-title > div {
  width: calc(100% / 6);
}
.page-content__item {
  background-color: var(--main) !important;
  box-shadow: 0 0 10px rgba(28, 39, 60, 0.1);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 0;
  margin-bottom: 5px;
  color: var(--c4);
  border-radius: 10px;
  font-size: 14px;
}
.page-content__item .item-init {
  width: calc(100% / 6);
  text-align: center;
  line-height: 1.5;
}
.page-content__item .item-init a {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 0;
}
.page-content__item .item-init a svg {
  width: 18px;
  height: 18px;
}
.page-content__item .item-init a svg path {
  stroke: var(--white);
}
.page-content__item .item-init a svg polygon {
  stroke: var(--white);
}
.page-content__item .item-init a.show-page {
  width: auto;
}
.page-content__item .item-init button {
  margin-left: 15px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 0;
}
.page-content__item .item-init button svg {
  width: 18px;
  height: 18px;
}
.page-content__item .item-init button svg path {
  stroke: #f74f75;
}

.btn-primary {
  background: var(--c1);
  color: var(--white);
  transition: 0.3s all ease-in;
}
.btn-primary:hover {
  background: var(--c3);
  border-color: var(--c3);
}
.btn-primary:focus {
  background: var(--c3);
  border-color: var(--c3);
}

.btn-danger {
  background-color: rgba(247, 79, 117, 0.2);
  color: #f74f75;
  transition: 0.3s all ease-in;
}
.btn-danger:hover {
  background: #f74f75;
  border-color: #f74f75;
}
.btn-danger:hover svg path {
  stroke: var(--white) !important;
}
.btn-danger:focus {
  background: #f74f75;
  border-color: #f74f75;
}
.btn-danger:focus svg path {
  stroke: var(--white) !important;
}

.pageTitle {
  padding: 50px 0;
  display: flex;
  flex-direction: column;
}
.pageTitle-title h1 {
  color: var(--c4);
  font-size: 24px;
}
.pageTitle-down {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}
.pageTitle-down ul {
  display: flex;
  align-items: center;
}
.pageTitle-down ul li a {
  color: var(--c4);
}
.pageTitle-down ul li.active a {
  color: var(--c1);
}
.pageTitle-down a.btn {
  display: flex;
  align-items: center;
}
.pageTitle-down a.btn svg {
  width: 18px;
  height: 18px;
  margin-right: 10px;
}
.pageTitle-down a.btn svg line {
  stroke: var(--white);
}

.choose-lang {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.choose-lang h1 {
  font-size: 16px;
  color: var(--c4);
  margin-right: 30px;
}
.choose-lang ul {
  display: flex;
  align-items: center;
}
.choose-lang ul li {
  float: left;
  margin-right: 20px;
}
.choose-lang ul li:last-child {
  margin-right: 0;
}
.choose-lang ul li a {
  padding: 10px 20px;
  border-radius: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  background-color: rgba(247, 79, 117, 0.2);
  color: #f74f75;
  transition: 0.3s all ease-in;
}
.choose-lang ul li a img {
  margin-right: 10px;
}
.choose-lang ul li a:hover {
  background: #f74f75;
  border-color: #f74f75;
  color: #242424;
}
.choose-lang ul li.active a {
  background: #f74f75;
  border-color: #f74f75;
  color: var(--white);
}

.addPage,
.card {
  margin-top: 50px;
  position: relative;
  z-index: 300;
  border: 1px solid var(--border);
  border-radius: 15px;
  padding: 30px;
}

.form-group label {
  margin-bottom: 15px;
  color: var(--c4);
  font-size: 10pt;
}
.form-group .form-control {
  border: 1px solid var(--border);
  color: var(--c4);
  background: none !important;
  outline: none;
  box-shadow: none;
  border-radius: 8px;
  padding: 12px 20px;
  font-size: 11pt;
  min-height: 48px;
}
.form-group .form-control:focus, .form-group .form-control:hover {
  border-color: var(--c1);
  color: var(--c1);
}

.select-from-library-button,
.selected-library-item {
  border: 1px dashed var(--border);
  border-radius: 10px;
  padding: 50px;
  text-align: center;
  line-height: 2;
  float: left;
}
.select-from-library-button .card,
.selected-library-item .card {
  margin: 0 !important;
  padding: 0;
  border: none !important;
}
.select-from-library-button .list-media-thumbnail,
.selected-library-item .list-media-thumbnail {
  width: 60px;
  height: 60px;
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}
.select-from-library-button .list-item-heading,
.selected-library-item .list-item-heading {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 160px;
  height: 2em;
  white-space: nowrap;
}
.select-from-library-button .btn-link,
.selected-library-item .btn-link {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: rgba(247, 79, 117, 0.2);
  color: #f74f75;
  transition: 0.3s all ease-in;
}
.select-from-library-button .btn-link:hover,
.selected-library-item .btn-link:hover {
  background-color: #f74f75;
  color: var(--white);
  text-decoration: none;
}

.compo {
  padding: 30px;
  border-radius: 15px;
  border: 1px solid var(--border);
  margin-top: 50px;
}
.compo-item {
  border-radius: 15px;
  padding: 30px;
  background: var(--border);
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.compo-item figure {
  width: 100px;
  height: 100px;
  border-radius: 15px;
  background: var(--c2);
  margin-right: 20px;
}
.compo-item figure svg {
  width: 48px;
  height: 48px;
}
.compo-item figure svg path {
  stroke: var(--c1);
}
.compo-item__title {
  display: flex;
  flex-direction: column;
  width: calc(100% - 120px);
}
.compo-item__title a {
  float: left;
}
.compo-item__title h3 {
  text-transform: uppercase;
  font-size: 16px;
  color: var(--c4);
  margin-bottom: 20px;
  line-height: 1.5;
}
@media (max-width: 1640px) {
  .compo-item__title h3 {
    text-overflow: ellipsis;
    overflow: hidden;
    width: 110px;
    height: 1.6em;
    white-space: nowrap;
  }
}
.compo-item a.btn-primary {
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 0;
}
.compo-item a.btn-primary svg {
  width: 18px;
  height: 18px;
}
.compo-item a.btn-primary svg path {
  stroke: var(--white);
}
.compo-item a.btn-primary svg polygon {
  stroke: var(--white);
}
.compo-item a.btn-danger {
  margin-left: 15px;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  padding: 0;
}
.compo-item a.btn-danger svg {
  width: 18px;
  height: 18px;
}
.compo-item a.btn-danger svg path {
  stroke: #f74f75;
}

.btn-fixed {
  position: fixed;
  bottom: 30px;
  right: 45px;
  padding: 15px 30px;
}

.alert-for-component svg {
  max-width: 80%;
}

.forus {
  margin-top: 40px;
  padding-top: 40px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 40px;
}
.forus h3 {
  margin-bottom: 40px;
}
.forus li i {
  margin-right: 10px;
}

.data-table td,
.data-table th {
  border-top: 1px solid var(--border) !important;
  border-color: var(--border) !important;
  padding: 15px !important;
  vertical-align: middle;
}
.data-table td img,
.data-table th img {
  border-radius: 10px;
  -o-object-fit: cover;
     object-fit: cover;
}

.data-table .remove-item {
  margin-left: 10px;
}

.modal {
  z-index: 9999999;
}

.modal-backdrop {
  background: rgba(1, 0, 0, 0.7);
  -webkit-backdrop-filter: blur(8px);
          backdrop-filter: blur(8px);
  opacity: 1 !important;
}

.modal .modal-dialog {
  max-width: 536px;
  border: none;
  border-radius: 20px;
  padding: 0;
  overflow: hidden;
}

.modal-content {
  border-radius: 20px;
  overflow: hidden;
  background: var(--c2);
}

.modal .smallbody {
  padding: 40px 30px;
}

.modal .modal-header {
  border: none;
  display: flex;
  padding-top: 40px;
  padding-left: 30px;
}

.modal .modal-header h5 {
  width: 100%;
  float: left;
  font-size: 19px;
  text-align: left;
  padding-right: 30px;
  color: var(--c4);
}

.modal .close {
  width: 50px;
  height: 50px;
  background: var(--c1);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--white);
  opacity: 1;
  font-size: 26px;
  text-shadow: none;
  right: 40px;
  top: 40px;
  position: absolute;
}

.modal-body {
  padding: 0 30px;
  padding-top: 30px;
}
.modal-body .btn-add {
  width: auto !important;
  padding: 0 20px !important;
  font-size: 13px;
}
.modal-body .btn-add svg {
  margin-right: 10px;
}
.modal-body .btn-add svg path {
  stroke: none;
  fill: var(--white);
}

.card-top-buttons {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 15px;
}
.card-top-buttons a {
  color: var(--white);
  display: flex;
  align-items: center;
  background: #2a2e3f;
  box-shadow: none;
  text-transform: uppercase;
  margin-left: 20px;
}
.card-top-buttons a img {
  margin-right: 10px;
}
.card-top-buttons a.active {
  color: var(--white);
  background: var(--c1);
}

.cke_chrome {
  border: none !important;
}

.cke_inner {
  background: transparent !important;
}

.table thead th,
.table td,
.table th {
  border: none;
  border: 1px solid #2a2e3f;
  vertical-align: middle;
}

.card-header {
  border: none;
  padding: 0;
  background: none;
}

.collapse-title {
  background: none;
  display: flex;
  align-items: center;
  font-size: 14px;
  justify-content: space-between;
  cursor: pointer;
  padding: 10px 0;
}
.collapse-title svg {
  width: 16px;
  height: 16px;
}
.collapse-title svg path {
  fill: var(--white);
}

.page_add .page-title__item {
  padding-left: 30px;
}
.page_add .page-content__item {
  padding-left: 30px;
}
.page_add img {
  border-radius: 10px;
}

.dd-handle {
  border: none;
  background: #2a2e3f;
  outline: none;
  padding: 15px 30px;
  border-radius: 10px;
  position: relative;
  height: auto;
  color: var(--white);
  margin-bottom: 20px;
}
.dd-handle:hover {
  background: var(--c1);
  color: var(--white);
}
.dd-handle:hover .washla a {
  color: var(--white);
}

.form-control:disabled,
.form-control[readonly] {
  border: none;
  background: #2a2e3f;
  outline: none;
  padding: 15px 30px;
  color: var(--white);
  opacity: 0.7;
  border-radius: 15px;
}

.dd-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select2-container .select2-selection--single {
  height: 40px;
}

#accordionWrapa1 .card-body {
  padding: 30px 0;
}

.title-of {
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.title-of h5 {
  margin: 0 !important;
}

.btn-addd {
  display: flex;
  align-items: center;
}
.btn-addd svg {
  margin-right: 10px;
  width: 18px;
  height: 18px;
}
.btn-addd svg line {
  stroke: var(--white);
}

.title-compo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;
  padding: 0 15px;
}
.title-compo h1 {
  color: var(--c1);
  font-size: 18px;
}

.login-section-wrapper {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.loginn {
  position: relative;
  height: 100vh;
  background: var(--c2);
}
.loginn img {
  position: absolute;
  opacity: 0.3 !important;
  filter: blur(7px);
}
.loginn .login-title {
  color: var(--c1);
  margin-bottom: 15px;
}
.loginn .login-wrapper {
  width: 450px;
  background: var(--c2);
  padding: 30px;
  border-radius: 15px;
}
.loginn .btn-primary {
  background: var(--c1);
  border-radius: 10px;
  border: none;
}
.loginn .btn-primary:hover {
  background: var(--white);
  color: var(--c1);
}

.welcome {
  margin-top: 80px;
}
.welcome figure {
  height: 50vh;
}
.welcome figure svg {
  max-width: 80%;
  height: 100%;
}

.vue-dropzone {
  font-size: 16px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #c5cfcd;
}

.dropzone {
  background: none !important;
  background-color: none !important;
  border: none;
  border: 2px dashed rgba(1, 0, 0, 0.1) !important;
  border-radius: 15px;
  overflow: hidden;
}

.list img {
  width: 100%;
}

.media-thumb-container {
  border-radius: 15px;
  overflow: hidden;
  padding: 5px;
}

@media (max-width: 1024px) {
  .menu {
    display: none;
  }

  main {
    width: 100%;
  }

  .header-top__logo {
    border: none;
    width: 100%;
  }

  .header-top__actions {
    display: none;
  }
}
.modal-xxl {
  max-width: 900px !important;
}

.title {
  font-size: 18px;
  color: var(--c4);
  margin-top: 40px;
}

.height-100 {
  height: 114px;
}
.height-100 img {
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.truncate {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100px;
  height: 1.2em;
  white-space: nowrap;
}

.dark-mode {
  margin-left: 30px;
}

/*slider switch css */
.theme-switch-wrapper {
  display: flex;
  align-items: center;
}

.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}

.theme-switch {
  display: inline-block;
  height: 34px;
  position: relative;
  width: 60px;
}

.theme-switch input {
  display: none;
}

.slider {
  background-color: #ccc;
  bottom: 0;
  cursor: pointer;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
}

.slider:before {
  background-color: #fff;
  bottom: 4px;
  content: "";
  height: 26px;
  left: 4px;
  position: absolute;
  transition: 0.4s;
  width: 26px;
}

input:checked + .slider {
  background-color: #66bb6a;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.header-top__actions {
  display: flex;
  align-items: center;
}
